@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --blue: #35858b;
  --darkblue: #072227;
  --neutralblue: #4fbdba;
  --lightblue: #aefeff;
}

body{
  font-family: 'Merriweather', serif;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
